.up {
  position: fixed;
  right: 2.5rem;
  bottom: -15%;
  background-color: var(--title-color);
  opacity: 0.8;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.up__icon {
  font-size: 1.5rem;
  color: var(--container-color);
}

.up:hover {
  background-color: var(--title-color-dark);
}

/* tampilkan icon scroll-up */
.show-up {
  bottom: 3rem;
}

/*=== breakpoints ===*/
/* device ukuran besar */
@media screen and (max-width: 992px) {
  .up {
    right: 1.5rem;
    padding: 0.25rem 0.4rem;
  }
  .up__icon {
    font-size: 1.25rem;
  }
}

/* device ukurang sedang */
@media screen and (max-width: 768px) {
  .show-up {
    bottom: 4rem;
  }
}

/* device ukurang kecil */
@media screen and (max-width: 350px) {
  .up {
    right: 1rem;
  }
}
